<div class="col-md-8 col-md-offset-2 text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @topic.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @topic.description %>
  </p>

  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>
</div>

